*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #d30f4c;
    cursor: pointer;
    text-overflow: ellipsis;
    transition: 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: border, color, background-color;
    text-decoration: none;
	background-color: transparent;
}

html {
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #333333;
    background-color: #ffffff;
    min-height: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.38;
    background-color: #fff7ea;
    word-break: normal;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    min-height: 100vh;
	margin: 0;
	overflow-y: scroll;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button, input[type='reset'] {
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    vertical-align: top;
    margin: 0;
    text-align: center;
}

button, select {
    text-transform: none;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
    min-height: 100%;
	width: 100%;
}

h1 {
    line-height: 1.2;
    font-size: 33.33333px;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

.o-container {
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1600px;
}

.t-white {
    color: #001e48;
    background-color: #fff7ea;
}

.t-white .input__input {
    border-bottom: 2px solid #001e48;
}

.button-red{
    padding: 0.6rem 0.8rem;
    border-radius: 0.8rem;
    border-color:#d30f4c;
    background: #d30f4c;
    color: #ffffff;
    display: block;
    height: min-content;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: 0.2s;
}

.button-red:hover{
    filter: brightness(1.2);
    translate: 0 -3px;
}

.c-button--primary {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    vertical-align: top;
    margin: 0;
    text-align: center;
    padding: 12.5px 60px;
    border-radius: 500px;
    background-color: #cacaca;
    color: #000000;
    transition: 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-property: color, background-color;
    margin-bottom: 30px;
    margin-top: 40px;
    background-color: #d30f4c;
    color: #ffffff;
}

.c-button--primary .button__label {
    display: block;
}

.c-footer {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    background: #d30f4c;
    padding: 30px 20px;
    font-weight: bolder;
    width: 100%;
}

.c-header {
    background-color: #fff7ea;
    color: #001e48;
    transition-timing-function: linear;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0s;
    will-change: transform;
    width: 100%;
    height: 80px;
}

.c-form {
    margin-top: 50px;
}

.c-input {
    position: relative;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transform: 0.2s;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.footer__communication {
    margin-left: auto;
}

.footer__container {
    max-width: 1024px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.footer__link {
    position: relative;
    padding-left: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer__item {
    position: relative;
    color: #ffffff;
}

.form__item {
    margin-bottom: 40px;
    font-weight: 600;
}

.form__item-error {
    display: none;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.input__wrapper {
    position: relative;
}

.input__label {
    display: block;
}

.input__error {
    position: absolute;
    bottom: -1.8rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    color: #d30f4c;
}

.input__input {
    display: block;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #001e48;
    box-shadow: 0 0 0 0 #001e48 inset;
    background-color: transparent;
    line-height: 1.38;
    font-size: 2.2rem;
    font-weight: 500;
}

.logo-box{
    display: flex;
    align-items: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    z-index: 1;
}

/* When modal is visable animation */
.modal-content.active{
    display: block;
    animation: fadeIn 0.3s ease-out;
}

.nav-bar{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
}

.nav-bar>li>a{
    padding: 1rem 2rem;
    display: block;
    color: var(--darkblue);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.nav-bar>li>a:hover{
    color: var(--blue);
}

.nav-logo{
    max-width: 100%;
    height: auto;
}

.u-align--center {
    margin-left: auto;
    margin-right: auto;
}

.u-max-width--sm {
    max-width: 400px;
}

.u-max-width--lg {
    max-width: 614.4px;
}

.u-text--centered, .u-text--centered-bold {
    text-align: center;
}



/* new css added for overview page */

.navibar{
    float: left;
}

.navibar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff7ea;
    background-size: cover;
    float: right;
    width: 100%;
}

.navibar>li {
    float: left;
}

.navibar>li {
    display: block;
    color: black;
    text-align: center;
    padding: 40px 70px;
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 0%;
}


.navibar > ul > li > button {
    background-color: black;
    color: #fff7ea;
    height: 30px;
    box-shadow: none;
    width: 100px;
    border-style: none;
    }
    
    
    .navibar > li :hover {
    background-color: #d30f4c;
    color: #fff7ea;
    }

    .my-button {
        background-color: #fff7ea;
        color: black;
      }
      .my-button.clicked {
        background-color: #d30f4c;
        color: #fff7ea;
      }
  
  button{
    background-color:#d30f4c;
    font-weight:700;
    color: #fff7ea; 
    height: 60px;
    width: 140px;
    margin-top: 10px;

    border: none;
    border:1px solid #d30f4c;
    border-radius:8%;
  }
  #container_ {
      width:100%;
      margin: auto;
  }
  
  #enter{
    height:40px;
    width: 62%;
    margin-left:5%;
    margin-top: 10px;
  }

  

  /* new css added for overview-2.0 page */
  

  :root 
{
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --blue: #007497;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: cursive;
}
.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HTML body css deleted because its already set above */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);




}


.calendar {
    height: max-content;
    width: max-content;
    background-color: var(--bg-main);
    border-radius: 30px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}


.lesson-title {
    margin: 2px;
    padding-right: 60px;
    padding-left: 20px;
    font-weight: bold;
}


.lesson-list {
    margin: 85px;
    width: 20em;
    padding-left: 0px;

}

.attendance-list {
    margin: 85px;
    padding-right: 60px;
    padding-left: 20px;
    font-weight: bold;
}

.name-list {
    margin: 2px;
    width: 20em;
    padding-left: 0px;
}

/* CSS added for attendance list */

ol {
    list-style-type: decimal;
    font-size: 1em;
    margin: 85px;
    margin-top: -180px;
    color: black

  }

  .aanwezig, .afwezig {
    display:grid;
    background: #fff7ea;
    height: 40px;
    width: 140%;
    margin-top: 15px;
    color: black
  }
  
  .aanwezig{
    margin-left: 50%;
    border-right: .5px solid gray;
  }

  .afwezig{
    margin-right: 50%;
    border-left: .5px solid gray;
  }


  /* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 220px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}.content {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}




/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.content input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 65px;
    background-color: #ccc;
    border-radius: 10%;
    background-size:cover;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
.content:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a background */
.container input:checked ~ .checkmark {
    background-color: green;
}.content input:checked ~ .checkmark {
    background-color: red;
}    




.table-items{
    width: 100%;
    position: relative;
}

.table-item{
    border-left: 5px solid grey;
    padding: 0.6rem 2rem;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.048);
    border-radius: var(--rc);
    margin-bottom: 0.4rem;
    background-color: rgba(255, 255, 255, 0.24);
    transition: 0.3s;
}

.table-item>.item-attribute{
    margin: 0.2rem 0;
    font-size: 0.9rem;
    padding: 0.2rem 0;
    border-bottom: 1px solid lightgrey;
}

.table-item:hover{
    cursor: pointer;
    background: #eee;
    translate: 0 -5px;
    border-left: 5px solid var(--green);

}